/* line 5, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, sass/main.scss */
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 22px;
  height: 27px;
  color: #333;
  text-align: center;
  position: relative;
}

/* line 15, sass/main.scss */
input[type=number]::-webkit-inner-spin-button:before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 32px;
  width: 23px;
}

/* line 24, sass/main.scss */
body {
  font-family: Roboto, Arial, sans-serif;
}

/* line 28, sass/main.scss */
.no-padding {
  padding: 0 0;
}

/* line 32, sass/main.scss */
.no-margin {
  margin: 0 0;
}

/* line 36, sass/main.scss */
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 450px;
  overflow: hidden;
}

/* line 45, sass/main.scss */
nav {
  height: auto;
  min-height: 52px;
  width: 100%;
  background: #8f0938 !important;
  position: relative;
  z-index: 2;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  border-color: transparent !important;
}

/* line 57, sass/main.scss */
.head-logo {
  float: left;
  margin-right: 90px;
  line-height: 35px;
}
/* line 61, sass/main.scss */
.head-logo img {
  max-width: 179px;
  vertical-align: text-top;
}

/* line 68, sass/main.scss */
.btn-menu button {
  border-color: transparent !important;
  background-color: transparent !important;
}
/* line 71, sass/main.scss */
.btn-menu button:hover {
  background-color: transparent !important;
}

/* line 77, sass/main.scss */
.navigation {
  border-color: transparent !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 82, sass/main.scss */
.menu {
  float: left;
  line-height: 49px;
}
/* line 85, sass/main.scss */
.menu > li {
  float: left;
  font-size: 14px;
  margin-right: 30px;
}
/* line 89, sass/main.scss */
.menu > li:last-child {
  margin-right: 0;
}
/* line 92, sass/main.scss */
.menu > li > a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 99, sass/main.scss */
.languages {
  line-height: 35px;
  margin: 0 0;
}
/* line 102, sass/main.scss */
.languages > li {
  padding: 8px 10px 6px 5px;
  font-size: 14px;
  color: #fff;
  float: left;
}
/* line 107, sass/main.scss */
.languages > li > a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0;
}
/* line 113, sass/main.scss */
.languages > li.active {
  background: url(../img/lang_active_bg.png) no-repeat right;
}

/*HEADER NAVBAR END*/
/* line 119, sass/main.scss */
#open-form {
  height: 65px;
  width: 100%;
  display: block;
  font-family: RobotoLight;
  font-size: 24px;
  background: #008a8a;
  line-height: 65px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: none;
  position: relative;
  z-index: 2;
  max-width: 350px;
  margin: 0 auto;
  outline: none;
}

/* line 138, sass/main.scss */
.online-booking {
  width: 320px;
  padding: 0 5px 0;
  min-height: 330px;
  margin: 30px auto 0;
  position: relative;
  z-index: 2;
  display: none;
}
/* line 146, sass/main.scss */
.online-booking .close-form {
  font-size: 42px;
  font-family: RobotoLight;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -65%;
  top: 0;
  z-index: 3;
  color: #fff;
  cursor: pointer;
  opacity: .5;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
/* line 160, sass/main.scss */
.online-booking .close-form:hover {
  opacity: .8;
}
/* line 164, sass/main.scss */
.online-booking h2 {
  font-size: 24px;
  font-family: RobotoLight;
  color: #fff;
  text-align: center;
}
/* line 170, sass/main.scss */
.online-booking .btn-booking {
  border: 1px solid #fff;
  width: 100%;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 57px 0 35px;
}
/* line 182, sass/main.scss */
.online-booking .btn-booking:hover {
  color: #fff;
}
/* line 186, sass/main.scss */
.online-booking .title {
  font-size: 12px;
  text-align: center;
  color: #fff;
  opacity: .5;
}

/* line 194, sass/main.scss */
.wrapp-people {
  width: 135px;
  float: left;
  margin: 48px 40px 25px 0;
  font-size: 12px;
}
/* line 199, sass/main.scss */
.wrapp-people:nth-child(2n+2) {
  margin-right: 0;
}
/* line 202, sass/main.scss */
.wrapp-people .people {
  width: 135px;
  height: 30px;
  overflow: hidden;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 210, sass/main.scss */
.wrapp-people label {
  float: left;
  padding: 0 15px;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
}
/* line 218, sass/main.scss */
.wrapp-people input {
  float: left;
  height: 100%;
  cursor: pointer;
  background: url(../img/double-arrows-gray.png) no-repeat right top -1px transparent;
  border: none;
  outline: none;
  color: #fff;
}
/* line 226, sass/main.scss */
.wrapp-people input:focus {
  color: #fff;
  background: url(../img/double-arrows-gray.png) no-repeat right top -1px transparent;
}
/* line 230, sass/main.scss */
.wrapp-people input.adult {
  width: 46px;
}
/* line 231, sass/main.scss */
.wrapp-people input.kids {
  width: 74px;
}
/* line 233, sass/main.scss */
.wrapp-people > span {
  font-size: 11px;
  display: block;
  text-align: center;
  opacity: .5;
  color: #fff;
  font-family: RobotoLight;
  margin-top: 5px;
}

/* line 244, sass/main.scss */
.fly {
  width: 135px;
  height: 30px;
  float: left;
  overflow: hidden;
  margin-right: 40px;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 5px;
}
/* line 253, sass/main.scss */
.fly:nth-child(2n+2) {
  margin-right: 0;
}
/* line 256, sass/main.scss */
.fly label {
  float: left;
  width: 60px;
  text-align: center;
  font-size: 12px;
  line-height: 28px;
  color: #fff;
}
/* line 264, sass/main.scss */
.fly input {
  width: 73px;
  float: left;
  height: 100%;
  line-height: 28px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}

/* line 277, sass/main.scss */
.banner {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: url(../img/banners/banner1.png) no-repeat top transparent;
  background-size: cover;
  overflow: hidden;
  width: 110%;
}
/* line 288, sass/main.scss */
.banner.banner-restoran {
  background: url(../img/banners/banner2.png) no-repeat top transparent;
  background-size: cover;
}
/* line 292, sass/main.scss */
.banner.banner-rooms {
  background: url(../img/banners/banner3.png) no-repeat top transparent;
  background-size: cover;
}
/* line 296, sass/main.scss */
.banner.banner-winter-summer {
  background: url(../img/banners/banner4.png) no-repeat top transparent;
  background-size: cover;
}
/* line 301, sass/main.scss */
.banner.active {
  background: url(../img/banners/banner-active.png) no-repeat top transparent;
  background-size: cover;
}

/* line 310, sass/main.scss */
.content {
  padding-bottom: 40px;
}

/* line 314, sass/main.scss */
.head {
  font-size: 24px;
  text-transform: uppercase;
  color: #008a8a;
  margin: 30px 0 35px;
}

/* line 321, sass/main.scss */
.head-title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: RobotoMedium;
  color: #008a8a;
  margin: 20px 0 20px;
}
/* line 327, sass/main.scss */
.head-title.webcams {
  min-width: 131px;
  margin-left: -55px;
}

/* line 333, sass/main.scss */
.block-offer {
  position: relative;
  float: left;
  width: 100%;
}
/* line 338, sass/main.scss */
.block-offer span {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
  background: #8f0938;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 349, sass/main.scss */
.block-offer span:after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 35px solid #8f0938;
}
/* line 361, sass/main.scss */
.block-offer img {
  max-height: 292px;
  width: 100%;
}

/* line 367, sass/main.scss */
.block-info {
  width: 90%;
  background: #eaeaea;
  display: inline-block;
  margin-bottom: 27px;
  line-height: 0;
  min-height: 131px;
}
/* line 374, sass/main.scss */
.block-info:last-child {
  margin-bottom: 0;
  padding: 8px 0 0px;
}
/* line 378, sass/main.scss */
.block-info > a {
  color: #000;
}
/* line 382, sass/main.scss */
.block-info > a:hover .info h2 {
  color: #8f0938;
}
/* line 387, sass/main.scss */
.block-info > a img {
  max-width: 131px;
  width: 100%;
  height: 131px;
}
/* line 392, sass/main.scss */
.block-info > a .info {
  padding: 20px 15px 20px;
  line-height: normal;
}
/* line 395, sass/main.scss */
.block-info > a .info > h2 {
  font-size: 18px;
}
/* line 398, sass/main.scss */
.block-info > a .info > p {
  font-size: 16px;
}
/* line 402, sass/main.scss */
.block-info > a .price {
  padding: 20px 0 20px;
  line-height: normal;
}
/* line 405, sass/main.scss */
.block-info > a .price span {
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color: #8f0938;
}

/* line 416, sass/main.scss */
.block-weather {
  margin-bottom: 30px;
  float: right;
  width: 131px;
  height: 131px;
}
/* line 421, sass/main.scss */
.block-weather:last-child {
  margin-bottom: 0;
}
/* line 424, sass/main.scss */
.block-weather img {
  max-width: 131px;
  width: 100%;
}

/* line 430, sass/main.scss */
.block {
  margin-bottom: 30px;
  margin-top: 25px;
  display: inline-block;
}
/* line 434, sass/main.scss */
.block img {
  width: 100%;
}
/* line 437, sass/main.scss */
.block h4 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 4px 14px 3px;
  color: #fff;
  display: inline-block;
  position: relative;
}
/* line 445, sass/main.scss */
.block h4:after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 19px solid transparent;
}
/* line 456, sass/main.scss */
.block h4.red {
  background: #8f0938;
}
/* line 458, sass/main.scss */
.block h4.red:after {
  border-top-color: #8f0938;
}
/* line 462, sass/main.scss */
.block h4.green {
  background: #008a8a;
}
/* line 464, sass/main.scss */
.block h4.green:after {
  border-top-color: #008a8a;
}
/* line 468, sass/main.scss */
.block h4.pink {
  background: #dc70b7;
}
/* line 470, sass/main.scss */
.block h4.pink:after {
  border-top-color: #dc70b7;
}
/* line 475, sass/main.scss */
.block p {
  font-size: 16px;
}

/* line 482, sass/main.scss */
.hotel-info {
  display: inline-block;
  padding-bottom: 50px;
}
/* line 485, sass/main.scss */
.hotel-info h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: #008a8a;
  margin: 30px 0 50px;
}
/* line 491, sass/main.scss */
.hotel-info article {
  margin-bottom: 30px;
}
/* line 493, sass/main.scss */
.hotel-info article h2 {
  font-size: 24px;
  color: #8f0938;
}
/* line 497, sass/main.scss */
.hotel-info article p {
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  color: #000;
}
/* line 503, sass/main.scss */
.hotel-info article ul {
  margin: 20px 0;
}
/* line 505, sass/main.scss */
.hotel-info article ul li {
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

/* line 513, sass/main.scss */
.hotel-foto {
  padding-bottom: 50px;
  display: inline-block;
}
/* line 516, sass/main.scss */
.hotel-foto figure {
  margin: 0 0;
  padding: 0 0;
  line-height: 0px;
}
/* line 520, sass/main.scss */
.hotel-foto figure a {
  cursor: zoom-in;
  text-decoration: none;
}
/* line 524, sass/main.scss */
.hotel-foto figure img {
  width: 100%;
}

/* line 532, sass/main.scss */
.hotel-kind h1 {
  font-size: 22px;
  text-transform: uppercase;
  color: #008a8a;
  margin: 0 0 35px;
}
/* line 539, sass/main.scss */
.hotel-kind .item {
  margin-bottom: 50px;
  display: inline-block;
}
/* line 542, sass/main.scss */
.hotel-kind .item img {
  width: 100%;
}
/* line 545, sass/main.scss */
.hotel-kind .item h2 {
  font-size: 21px;
  margin: 20px 0;
  display: inline-block;
}
/* line 549, sass/main.scss */
.hotel-kind .item h2 a {
  text-decoration: none;
  color: #008a8a;
  border-bottom: 1px solid #008a8a;
}
/* line 555, sass/main.scss */
.hotel-kind .item p {
  font-size: 14px;
  line-height: 16px;
}

/* line 563, sass/main.scss */
.room {
  margin-bottom: 30px;
}
/* line 565, sass/main.scss */
.room figure {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
/* line 569, sass/main.scss */
.room figure figcaption {
  font-size: 18px;
  color: #454545;
  background: #eaeaea;
  padding: 10px 0 10px 25px;
}
/* line 576, sass/main.scss */
.room figure img {
  width: 100%;
}
/* line 580, sass/main.scss */
.room .booking {
  display: inline-block;
  background: #008a8a;
  padding: 9px;
  position: relative;
  color: #fff;
  text-decoration: none;
}
/* line 587, sass/main.scss */
.room .booking:after {
  content: "";
  position: absolute;
  top: 0;
  right: -13px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 13px solid transparent;
  border-top: 34px solid #008a8a;
}
/* line 598, sass/main.scss */
.room .booking:hover {
  background: #8f0938;
}
/* line 600, sass/main.scss */
.room .booking:hover:after {
  border-top-color: #8f0938;
}
/* line 604, sass/main.scss */
.room .booking span {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 614, sass/main.scss */
.rooms-info > h2 {
  font-size: 18px;
  color: #8f0938;
  font-family: RobotoMedium;
}
/* line 619, sass/main.scss */
.rooms-info > p {
  font-size: 14px;
  color: #000;
  line-height: 16px;
}
/* line 625, sass/main.scss */
.rooms-info hr {
  width: 100%;
  border-top-color: #ebebeb;
}

/* line 631, sass/main.scss */
.pdf-file {
  display: inline-block;
  margin: 15px 0 15px;
}
/* line 635, sass/main.scss */
.pdf-file > img {
  float: left;
  width: 100%;
  max-width: 32px;
  margin-right: 7px;
}
/* line 641, sass/main.scss */
.pdf-file > div {
  float: left;
}
/* line 643, sass/main.scss */
.pdf-file > div .title {
  border-bottom: 1px solid #008a8a;
  color: #008a8a;
  font-size: 14px;
}
/* line 650, sass/main.scss */
.pdf-file > div .size {
  color: #616161;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  margin-top: 6px;
}

/* line 660, sass/main.scss */
.list {
  margin-bottom: 30px;
}
/* line 662, sass/main.scss */
.list h3 {
  font-size: 18px;
  color: #8f0938;
}
/* line 666, sass/main.scss */
.list ul {
  margin-top: 15px;
  padding-left: 17px;
}
/* line 669, sass/main.scss */
.list ul li {
  list-style: disc;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

/* line 679, sass/main.scss */
.wrapp-block-info {
  margin-top: 55px;
}

/* line 684, sass/main.scss */
.article h2 {
  font-size: 21px;
  color: #8f0938;
  margin-bottom: 25px;
}
/* line 689, sass/main.scss */
.article p {
  font-size: 14px;
  color: #000;
  line-height: 16px;
}

/* line 699, sass/main.scss */
.room-info > article h2 {
  font-size: 18px;
  color: #8f0938;
  margin-bottom: 22px;
}
/* line 704, sass/main.scss */
.room-info > article p {
  font-size: 14px;
  color: #000;
  line-height: 16px;
  margin-bottom: 22px;
}
/* line 709, sass/main.scss */
.room-info > article p.bold {
  font-family: RobotoMedium;
}
/* line 713, sass/main.scss */
.room-info > article ul {
  margin-bottom: 20px;
  padding-left: 42px;
}
/* line 716, sass/main.scss */
.room-info > article ul li {
  list-style: disc;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}
/* line 724, sass/main.scss */
.room-info > article > a {
  text-decoration: none;
  font-size: 19px;
  color: #8f0938;
}
/* line 731, sass/main.scss */
.room-info .booking {
  display: inline-block;
  background: #008a8a;
  padding: 9px;
  position: relative;
  color: #fff;
  text-decoration: none;
}
/* line 738, sass/main.scss */
.room-info .booking:after {
  content: "";
  position: absolute;
  top: 0;
  right: -13px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 13px solid transparent;
  border-top: 34px solid #008a8a;
}
/* line 749, sass/main.scss */
.room-info .booking:hover {
  background: #8f0938;
}
/* line 751, sass/main.scss */
.room-info .booking:hover:after {
  border-top-color: #8f0938;
}
/* line 755, sass/main.scss */
.room-info .booking span {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* line 764, sass/main.scss */
.room-price {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  display: inline-block;
  width: 100%;
  padding: 20px 25px;
  margin: 20px 0;
}
/* line 771, sass/main.scss */
.room-price div {
  padding: 0 0;
}
/* line 773, sass/main.scss */
.room-price div .price {
  font-size: 26px;
  color: #008a8a;
  float: left;
  margin-right: 20px;
}
/* line 779, sass/main.scss */
.room-price div .text {
  color: #000;
  font-size: 14px;
  float: left;
  margin-top: 5px;
}

/* line 855, sass/main.scss */
footer {
  padding: 40px 0 60px;
  background: #ededed;
}

/* line 860, sass/main.scss */
.contacts {
  max-width: 300px;
  width: 100%;
}
/* line 863, sass/main.scss */
.contacts img {
  max-width: 112px;
}
/* line 866, sass/main.scss */
.contacts p {
  margin-top: 30px;
  font-size: 14px;
}
/* line 869, sass/main.scss */
.contacts p > span {
  display: block;
}
/* line 871, sass/main.scss */
.contacts p > span > a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 875, sass/main.scss */
.contacts p > span > a:hover {
  border-bottom-color: transparent;
  color: #8f0938;
}

/* line 884, sass/main.scss */
.partners {
  height: 197px;
  line-height: 185px;
}
/* line 887, sass/main.scss */
.partners a {
  display: inline-block;
  width: 148px;
  height: 42px;
  vertical-align: bottom;
  margin-right: 30px;
  margin-top: 30px;
}
/* line 894, sass/main.scss */
.partners a.partner1 {
  background: url(../img/footer/partner_1.png) no-repeat;
  background-position: -12px -15px;
  height: 58px;
  width: 151px;
  float: left;
  margin-top: 138px;
}
/* line 901, sass/main.scss */
.partners a.partner1:hover {
  background-position: -12px -90px;
}
/* line 905, sass/main.scss */
.partners a.partner2 {
  background: url(../img/footer/partner_2.png) no-repeat;
  background-position: -18px -23px;
  width: 148px;
  height: 42px;
}
/* line 910, sass/main.scss */
.partners a.partner2:hover {
  background-position: -18px -98px;
}
/* line 914, sass/main.scss */
.partners a.partner3 {
  background: url(../img/footer/partner_3.png) no-repeat;
  background-position: -4px -20px;
  width: 151px;
  height: 53px;
}
/* line 919, sass/main.scss */
.partners a.partner3:hover {
  background-position: -4px -95px;
}
