/*==========  Desktop First Method  ==========*/

@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1300px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .head-logo {
        margin-right: 30px;
    }
    .menu > li {
        margin-right: 15px;
    }
    
    
    .block-offer img {
        height: 250px;
    }
    .block-info {
        width: 100%;
        min-height: inherit;
    }
    .block-info > a img {
        height: 109px;
    }
    .block-info > a .info {
        padding: 5px 15px 5px;
    }
    .block-info:last-child {
        padding: 10px 0 9px;
    }
    .head-title.webcams {
        margin-left: 0;
    }
    .block-weather,
    .block-weather img {
        height: 110px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header {
        min-height: 495px;
    }
    .container {
        padding: 0;
        overflow: hidden;
    }
    
    .block {
        margin-bottom: 0;
        margin-top: 30px;
    }
    .block > article,
    .item > article{
        padding: 0 15px;
    }
    
    .block-offer img {
        height: auto;
        max-height: 320px;
    }
    .block-info {
        width: 95%;
        min-height: 117px;
    }
    .block-info:last-child {
        padding: 15px 0 5px;
    }
    .block-info > a img {
        height: 117px;
    }
    .head-title.webcams {
        margin-left: -30px;
    }
    .block-weather,
    .block-weather img {
        height: 117px;
    }
    
    /*FOOTER*/
    .partners {
        height: auto;
        line-height: 0;
    }
    .partners a.partner1 {
        margin-top: 30px;
    }
    
    .hotel-foto figure:first-child img {
        height: 250px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    header {
        min-height: 450px;
    }
    .navigation,
    .head-logo{
        margin: 0 0 !important;
        padding-left: 20px;
    }
    .menu,
    .menu > li{
        float: none;
    }
    .online-booking .close-form {
        right: 5px;
    }
    
    .hotel-info,
    .rooms-info,
    .room-info,
    .article{
        padding: 0 10px 10px;
    }
    .hotel-foto figure:first-child img {
        height: auto;
    }
    
    .hotel-kind h1 {
        padding: 0 10px 0;
    }
    
    .block-info {
        width: 100%;
    }
    .block-info > a .price {
        max-width: 80px;
        float: right;
    }
    .block-info > a img {
        height: auto;
    }
    .head-title {
        padding: 0 20px;
    }
    .head-title.webcams {
        margin-left: 0;
    }
    .block-weather,
    .block-weather img {
        height: 100%;
        max-height: 131px;
    }
    .block-weather {
        float: left;
        margin-right: 20px;
    }
    .block-weather:last-child {
        margin-right: 0;
    }
}

@media only screen and (max-width : 600px) {
    .block > figure,
    .block > article,
    .item > figure,
    .item > article,
    .room{
        width: 100%;
    }
    
    .hotel-kind .item .head {
        line-height: inherit;
    }
    .hotel-kind .item .head img {
        display: none;
    }
    .hotel-kind .item .head .name {
        font-size: 14px;
        margin: 0 0;
    }
}

@media only screen and (max-width : 590px) {
    .partners a.partner3 {
        display: block;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .block-offer span {
        font-size: 12px;
    }
    .block-offer span:after {
        border-top-width: 31px;
    }
    
    .hotel-kind .item .info a {
        margin-left: 0;
    }

    .room-price > div {
        width: 100%;
        padding: 5px 0;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}