@import "compass/reset";
@import "compass/css3";
@import "variables";

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:22px;
    height: 27px;
    color: #333;
    text-align:center;
    position:relative;
}
input[type=number]::-webkit-inner-spin-button:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 32px;
    width: 23px;
} 

body {
    font-family: Roboto, Arial, sans-serif;
}

.no-padding {
    padding: 0 0;
}

.no-margin {
    margin: 0 0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 450px;
    overflow: hidden;
}

nav {
    height: auto;
    min-height: 52px;
    width: 100%;
    background: $colorDarkRed !important;
    position: relative;
    z-index: 2;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    border-color: transparent !important;
}

.head-logo {
    float: left;
    margin-right: 90px;
    line-height: 35px;
    img {
        max-width: 179px;
        vertical-align: text-top;
    }
}

.btn-menu {
    button {
        border-color: transparent !important;
        background-color: transparent !important;
        &:hover {
            background-color: transparent !important;
        }
    }
}

.navigation {
    border-color: transparent !important;
    @include box-shadow (none);
}

.menu {
    float: left;
    line-height: 49px;
    >li {
        float: left;
        font-size: 14px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
        >a {
            text-decoration: none;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}
.languages {
    line-height: 35px;
    margin: 0 0;
    >li {
        padding: 8px 10px 6px 5px;
        font-size: 14px;
        color: #fff;
        float: left;
        >a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            padding: 0 0;
        }
        &.active {
            background: url(../img/lang_active_bg.png) no-repeat right;
        }
    }
}
/*HEADER NAVBAR END*/
#open-form {
    height: 65px;
    width: 100%;
    display: block;
    font-family: RobotoLight;
    font-size: 24px;
    background: $colorLightGreen;
    line-height: 65px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    position: relative;
    z-index: 2;
    max-width: 350px;
    margin: 0 auto;
    outline: none;
}

.online-booking {
    width: 320px;
    padding: 0 5px 0;
    min-height: 330px;
    margin: 30px auto 0;
    position: relative;
    z-index: 2;
    display: none;
    .close-form {
        font-size: 42px;
        font-family: RobotoLight;
        @include transform (rotate(45deg));
        position: absolute;
        right: -65%;
        top: 0;
        z-index: 3;
        color: #fff;
        cursor: pointer;
        opacity: .5;
        width: 25px;
        height: 25px;
        line-height: 25px;
        &:hover {
            opacity: .8;
        }
    }
    h2 {
        font-size: 24px;
        font-family: RobotoLight;
        color: #fff;
        text-align: center;
    }
    .btn-booking {
        border: 1px solid #fff;
        width: 100%;
        display: inline-block;
        padding: 15px 0;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        border-radius: 15px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 57px 0 35px;
        &:hover {
            color: #fff;
        }
    }
    .title {
        font-size: 12px;
        text-align: center;
        color: #fff;
        opacity: .5;
    }
}

.wrapp-people {
    width: 135px;
    float: left;
    margin: 48px 40px 25px 0;
    font-size: 12px;
    &:nth-child(2n+2) {
        margin-right: 0;
    }
    .people {
        width: 135px;
        height: 30px;
        overflow: hidden;
        font-size: 12px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    label {
        float: left;
        padding: 0 15px;
        text-align: center;
        font-size: 12px;
        line-height: 28px;
        color: #fff;
    }
    input {
        float: left;
        height: 100%;
        cursor: pointer;
        background: url(../img/double-arrows-gray.png) no-repeat right top -1px transparent;
        border: none;
        outline: none;
        color: #fff;
        &:focus {
            color: #fff;
            background: url(../img/double-arrows-gray.png) no-repeat right top -1px transparent;
        }
        &.adult {width: 46px;}
        &.kids {width: 74px;}
    }
    >span {
        font-size: 11px;
        display: block;
        text-align: center;
        opacity: .5;
        color: #fff;
        font-family: RobotoLight;
        margin-top: 5px;
    }
} 

.fly {
    width: 135px;
    height: 30px;
    float: left;
    overflow: hidden;
    margin-right: 40px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    &:nth-child(2n+2) {
        margin-right: 0;
    }
    label {
        float: left;
        width: 60px;
        text-align: center;
        font-size: 12px;
        line-height: 28px;
        color: #fff;
    }
    input {
        width: 73px;
        float: left;
        height: 100%;
        line-height: 28px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: #fff;
    }
}

.banner {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: url(../img/banners/banner1.png) no-repeat top transparent;
    background-size: cover;
    overflow: hidden;
    width: 110%;
//    @include transform (translate(-10px, 10px));
    &.banner-restoran {
        background: url(../img/banners/banner2.png) no-repeat top transparent;
        background-size: cover;
    }
    &.banner-rooms {
        background: url(../img/banners/banner3.png) no-repeat top transparent;
        background-size: cover;
    }
    &.banner-winter-summer {
        background: url(../img/banners/banner4.png) no-repeat top transparent;
        background-size: cover;
    }
    
    &.active {
//        @include filter (blur(3px));
        background: url(../img/banners/banner-active.png) no-repeat top transparent;
        background-size: cover;
    }
}
//END HEADER

//CONTENT BEGIN
.content {
    padding-bottom: 40px;
}

.head {
    font-size: 24px;
    text-transform: uppercase;
    color: $colorLightGreen;
    margin: 30px 0 35px;
}

.head-title {
    font-size: 14px;
    text-transform: uppercase;
    font-family: RobotoMedium;
    color: $colorLightGreen;
    margin: 20px 0 20px;
    &.webcams {
        min-width: 131px;
        margin-left: -55px;
    }
}

.block-offer {
    position: relative;
    float: left;
//    max-width: 562px;
    width: 100%;
    span {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        font-size: 16px;
        color: #fff;
        padding: 10px 20px;
        background: $colorDarkRed;
        text-transform: uppercase;
        letter-spacing: 1px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -15px;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 35px solid $colorDarkRed;
        }
    }
    img {
        max-height: 292px;
        width: 100%;
    }
}

.block-info {
    width: 90%;
    background: #eaeaea;
    display: inline-block;
    margin-bottom: 27px;
    line-height: 0;
    min-height: 131px;
    &:last-child {
        margin-bottom: 0;
        padding: 8px 0 0px;
    }
    >a {
        color: #000;
        &:hover {
            .info {
                h2 {
                    color: $colorDarkRed;
                }
            }
        }
        img {
            max-width: 131px;
            width: 100%;
            height: 131px;
        }
        .info {
            padding: 20px 15px 20px;
            line-height: normal;
            >h2 {
            font-size: 18px;
            }
            >p {
                font-size: 16px;
            }
        }
        .price {
            padding: 20px 0 20px;
            line-height: normal;
            span {
                text-transform: uppercase;
                font-size: 16px;
                display: block;
                margin-bottom: 5px;
                color: $colorDarkRed;
            }
        }
    }
}

.block-weather {
    margin-bottom: 30px;
    float: right;
    width: 131px;
    height: 131px;
    &:last-child {
        margin-bottom: 0;
    }
    img {
        max-width: 131px;
        width: 100%;
    }
}

.block {
    margin-bottom: 30px;
    margin-top: 25px;
    display: inline-block;
    img {
        width: 100%;
    }
    h4 {
        font-size: 12px;
        text-transform: uppercase;
        margin: 20px 0;
        padding: 4px 14px 3px;
        color: #fff;
        display: inline-block;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -8px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 19px solid transparent;
        }
        &.red {
            background: $colorDarkRed;
            &:after {
                border-top-color: $colorDarkRed;
            }
        }
        &.green {
            background: $colorLightGreen;
            &:after {
                border-top-color: $colorLightGreen;
            }
        }
        &.pink {
            background: $colorPink;
            &:after {
                border-top-color: $colorPink;
            }
        }
    }
    p {
        font-size: 16px;
    }
}


//ReSTORAN START-----
.hotel-info {
    display: inline-block;
    padding-bottom: 50px;
    h1 {
        font-size: 24px;
        text-transform: uppercase;
        color: $colorLightGreen;
        margin: 30px 0 50px;
    }
    article {
        margin-bottom: 30px;
        h2 {
            font-size: 24px;
            color: $colorDarkRed;
        }
        p {
            font-size: 14px;
            line-height: 16px;
            margin-top: 20px;
            color: #000;
        }
        ul {
            margin: 20px 0;
            li {
                font-size: 14px;
                color: #000;
                line-height: 16px;
            }
        }
    }
}
.hotel-foto {
    padding-bottom: 50px;
    display: inline-block;
    figure {
        margin: 0 0;
        padding: 0 0;
        line-height: 0px;
        a {
            cursor: zoom-in;
            text-decoration: none;
        }
        img {
            width: 100%;
        }
    }
}


.hotel-kind {
    h1 {
        font-size: 22px;
        text-transform: uppercase;
        color: $colorLightGreen;
        margin: 0 0 35px;
    }
    
    .item {
        margin-bottom: 50px;
        display: inline-block;
        img {
            width: 100%;
        }
        h2 {
            font-size: 21px;
            margin: 20px 0;
            display: inline-block;
            a {
                text-decoration: none;
                color: $colorLightGreen;
                border-bottom: 1px solid $colorLightGreen;
            }
        }
        p {
            font-size: 14px;
            line-height: 16px;
        }
    }
}


.room {
    margin-bottom: 30px;
    figure {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        figcaption {
//            font-size: 21px;
            font-size: 18px;
            color: #454545;
            background: #eaeaea;
            padding: 10px 0 10px 25px;
        }
        img {
            width: 100%;
        }
    }
    .booking {
        display: inline-block;
        background: $colorLightGreen;
        padding: 9px;
        position: relative;
        color: #fff;
        text-decoration: none;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -13px;
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 13px solid transparent;
            border-top: 34px solid $colorLightGreen;
        }
        &:hover {
            background: $colorDarkRed;
            &:after {
                border-top-color: $colorDarkRed;
            }
        }
        span {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}

.rooms-info {
    >h2 {
        font-size: 18px;
        color: $colorDarkRed;
        font-family: RobotoMedium;
    }
    >p {
        font-size: 14px;
        color: #000;
        line-height: 16px;
    }
    
    hr {
        width: 100%;
        border-top-color: #ebebeb;
    }
}

.pdf-file {
    display: inline-block;
    margin: 15px 0 15px;
//    width: 100%;
    >img {
        float: left;
        width: 100%;
        max-width: 32px;
        margin-right: 7px;
    }
    >div {
        float: left;
        .title {
//            display: inline-block;
            border-bottom: 1px solid $colorLightGreen;
            color: $colorLightGreen;
            font-size: 14px;
//            margin-bottom: 6px;
        }
        .size {
            color: #616161;
            font-size: 14px;
            text-transform: uppercase;
            display: block;
            margin-top: 6px;
        }
    }
}

.list {
    margin-bottom: 30px;
    h3 {
        font-size: 18px;
        color: $colorDarkRed;
    }
    ul {
        margin-top: 15px;
        padding-left: 17px;
        li {
            list-style: disc;
            color: #000;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 5px;
        }
    }
}

.wrapp-block-info {
    margin-top: 55px;
}

.article {
    h2 {
        font-size: 21px;
        color: $colorDarkRed;
        margin-bottom: 25px;
    }
    p {
        font-size: 14px;
        color: #000;
        line-height: 16px;
    }
}

//Single ROOM ----
.room-info {
    >article {
        h2 {
            font-size: 18px;
            color: $colorDarkRed;
            margin-bottom: 22px;
        }
        p {
            font-size: 14px;
            color: #000;
            line-height: 16px;
            margin-bottom: 22px;
            &.bold {
                font-family: RobotoMedium;
            }
        }
        ul {
            margin-bottom: 20px;
            padding-left: 42px;
            li {
                list-style: disc;
                color: #000;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 5px;    
            }
        }
        > a {
            text-decoration: none;
            font-size: 19px;
            color: $colorDarkRed;
        }
    }
    
    .booking {
        display: inline-block;
        background: $colorLightGreen;
        padding: 9px;
        position: relative;
        color: #fff;
        text-decoration: none;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -13px;
            width: 0;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 13px solid transparent;
            border-top: 34px solid $colorLightGreen;
        }
        &:hover {
            background: $colorDarkRed;
            &:after {
                border-top-color: $colorDarkRed;
            }
        }
        span {
            color: #fff;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
    }
}

.room-price {
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    display: inline-block;
    width: 100%;
    padding: 20px 25px;
    margin: 20px 0;
    div {
        padding: 0 0;
        .price {
            font-size: 26px;
            color: $colorLightGreen;
            float: left;
            margin-right: 20px;
        }
        .text {
            color: #000;
            font-size: 14px;
            float: left;
            margin-top: 5px;
        }
    }
}

//.hotel-kind {
//    display: inline-block;
//    width: 100%;
//    margin-bottom: 50px;
//    h1 {
//        font-size: 22px;
//        text-transform: uppercase;
//        color: $colorLightGreen;
//        margin: 30px 0 50px;
//    }
//    .item {
//        margin: 20px 5px 0px;
//        &:first-child {
//            margin-top: 0;
//        }
//        .head {
//            display: inline-block;
//            width: 100%;
//            line-height: 58px;
//            background: #f5f5f5;
//            padding: 10px;
//            cursor: pointer;
//            outline: none;
//            &:hover {
//                .name {
//                    border-bottom: none;
//                }
//            }
//            img {
//                float: left;
//                width: 100%;
//                max-width: 72px;
//            }
//            .name {
//                line-height: 24px;
//                font-size: 18px;
//                vertical-align: baseline;
//                color: $colorLightGreen;
//                border-bottom: 1px dashed rgba(0, 138, 138, 0.3);
//                margin-left: 10px;
//            }
//        }
//        .info {
//            padding: 5px 15px 20px;
//            margin: 0 1px 0;
//            @include box-shadow (0px 0px 1px rgba(0, 0, 0, 0.2));
////            height: auto !important;
//            p {
//                font-size: 14px;
//                line-height: 16px;
//                margin-top: 20px;
//            }
//            a {
//                margin-top: 20px;
//                display: inline-block;
//                text-decoration: none;
//                font-size: 14px;
//                margin-left: 25px;
//                color: $colorLightGreen;
//                border-bottom: 1px solid rgba(0, 138, 138, 0.3);
//            }
//        }
//    }
//}


//FOOTER BEGIN
footer {
    padding: 40px 0 60px;
    background: #ededed;
}

.contacts {
    max-width: 300px;
    width: 100%;
    img {
        max-width: 112px;
    }
    p {
        margin-top: 30px;
        font-size: 14px;
        >span {
            display: block;
            >a {
                text-decoration: none;
                color: #000;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                &:hover {
                    border-bottom-color: transparent;
                    color: $colorDarkRed;
                }
            }
        }
    }
}

.partners {
    height: 197px;
    line-height: 185px;
    a {
        display: inline-block;
        width: 148px;
        height: 42px;
        vertical-align: bottom;
        margin-right: 30px;
        margin-top: 30px;
        &.partner1 {
            background: url(../img/footer/partner_1.png) no-repeat;
            background-position: -12px -15px;
            height: 58px;
            width: 151px;
            float: left;
            margin-top: 138px;
            &:hover {
                background-position: -12px -90px;
            }
        }
        &.partner2 {
            background: url(../img/footer/partner_2.png) no-repeat;
            background-position: -18px -23px;
            width: 148px;
            height: 42px;
            &:hover {
                background-position: -18px -98px;
            }
        }
        &.partner3 {
            background: url(../img/footer/partner_3.png) no-repeat;
            background-position: -4px -20px;
            width: 151px;
            height: 53px;
            &:hover {
                background-position: -4px -95px;
            }
        }
    }
}
